# NOTA: show() funciona para DataFrames, mientras que take() funciona para RDDs

In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.types import Row
from pyspark.sql import SQLContext

# Crear un dataFrame a partir de un archivo plano

In [2]:
spark = SparkContext(master = "local", appName = "DataFrames")
sqlContext = SQLContext(spark)

21/10/31 08:37:50 WARN Utils: Your hostname, DESKTOP-7QUJ4FH resolves to a loopback address: 127.0.1.1; using 192.168.0.101 instead (on interface wifi0)
21/10/31 08:37:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/10/31 08:38:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
/home/thecarlos/.local/lib/python3.8/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [3]:
#podemos crear un DataFrame de 2 formas:

In [4]:
path = "/mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/"

In [5]:
!ls /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista.csv	 evento.csv	      paises.csv
deportista2.csv  juegos.csv	      resultados.csv

In [6]:
#Creamos esquema para juegos.csv
juegoSchema = StructType([
    StructField("juego_id", IntegerType(), False),
    StructField("annio", StringType(), False),
    StructField("temporada", StringType(), False),
    StructField("ciudad", StringType(), False)
])

#Cargamos el archivo
juegoDF = sqlContext.read.schema(juegoSchema)\
    .option("header", "true").csv(path+"juegos.csv")

In [7]:
juegoDF.show(4)

21/10/31 08:38:34 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 5, schema size: 4
CSV file: file:///mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/juegos.csv

+--------+-----------+---------+------+
|juego_id|      annio|temporada|ciudad|
+--------+-----------+---------+------+
|       1|1896 Verano|     1896|Verano|
|       2|1900 Verano|     1900|Verano|
|       3|1904 Verano|     1904|Verano|
|       4|1906 Verano|     1906|Verano|
+--------+-----------+---------+------+
only showing top 4 rows

In [8]:
#XXdeporte.csv	XX deportistaError.csv  modelo_relacional.jpg
#XXdeportista.csvXX	 XXevento.csv	XX      XXpaises.csvXX
#XXdeportista2.csvXX  XXjuegos.csv	XX      XXresultados.csvXX

In [9]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deporte.csv

In [10]:
#Creamos esquema para deporte.csv
deporteSchema = StructType([
    StructField("deporte_id", IntegerType(), False),
    StructField("deporte", StringType(), False)
])

#Cargamos el archivo
deporteDF = sqlContext.read.schema(deporteSchema)\
    .option("header", "true").csv(path+"deporte.csv")

In [11]:
deporteDF.show(4)

+----------+----------+
|deporte_id|   deporte|
+----------+----------+
|         1|Basketball|
|         2|      Judo|
|         3|  Football|
|         4|Tug-Of-War|
+----------+----------+
only showing top 4 rows

In [12]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deportistaError.csv

In [13]:
#Creamos esquema para deportistaError.csv
deportistaErrorSchema = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

#Cargamos el archivo
deportistaErrorDF = sqlContext.read.schema(deportistaErrorSchema)\
    .option("header", "true").csv(path+"deportistaError.csv")

In [14]:
deportistaErrorDF.show(4)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|            1|           A Dijiang|     1|  24|   180|80.0|      199|
|            2|            A Lamusi|     1|  23|   170|60.0|      199|
|            3| Gunnar Nielsen Aaby|     1|  24|  null|null|      273|
|            4|Edgar Lindenau Aabye|     1|  34|  null|null|      278|
+-------------+--------------------+------+----+------+----+---------+
only showing top 4 rows

In [15]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deportista.csv

In [16]:
#Creamos esquema para deportista.csv
deportistaSchema = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

#Cargamos el archivo
deportistaDF = sqlContext.read.schema(deportistaSchema)\
    .option("header", "true").csv(path+"deportista.csv")

In [17]:
deportistaDF.show(5)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|            1|           A Dijiang|     1|  24|   180|80.0|      199|
|            2|            A Lamusi|     1|  23|   170|60.0|      199|
|            3| Gunnar Nielsen Aaby|     1|  24|     0| 0.0|      273|
|            4|Edgar Lindenau Aabye|     1|  34|     0| 0.0|      278|
|            5|Christine Jacoba ...|     2|  21|   185|82.0|      705|
+-------------+--------------------+------+----+------+----+---------+
only showing top 5 rows

In [18]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/evento.csv

In [19]:
#Creamos esquema para evento.csv
eventoSchema = StructType([
    StructField("evento_id", IntegerType(), False),
    StructField("evento", StringType(), False),
    StructField("deporte_id", IntegerType(), False)
])

#Cargamos el archivo
eventoDF = sqlContext.read.schema(eventoSchema)\
    .option("header", "true").csv(path+"evento.csv")

In [20]:
eventoDF.show(5)

+---------+--------------------+----------+
|evento_id|              evento|deporte_id|
+---------+--------------------+----------+
|        1|Basketball Men's ...|         1|
|        2|Judo Men's Extra-...|         2|
|        3|Football Men's Fo...|         3|
|        4|Tug-Of-War Men's ...|         4|
|        5|Speed Skating Wom...|         5|
+---------+--------------------+----------+
only showing top 5 rows

In [21]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/paises.csv

In [22]:
#Creamos esquema para paises.csv
paisesSchema = StructType([
    StructField("id", IntegerType(), False),
    StructField("equipo", StringType(), False),
    StructField("sigla", StringType(), False),
])

#Cargamos el archivo
paisesDF = sqlContext.read.schema(paisesSchema)\
    .option("header", "true").csv(path+"paises.csv")

In [23]:
paisesDF.show(5)

+---+--------------------+-----+
| id|              equipo|sigla|
+---+--------------------+-----+
|  1|         30. Februar|  AUT|
|  2|A North American ...|  MEX|
|  3|           Acipactli|  MEX|
|  4|             Acturus|  ARG|
|  5|         Afghanistan|  AFG|
+---+--------------------+-----+
only showing top 5 rows

In [24]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deportista2.csv

In [25]:
#Creamos esquema para deportista2.csv
deportista2Schema = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

#Cargamos el archivo
deportista2DF = sqlContext.read.schema(deportista2Schema)\
    .option("header", "false").csv(path+"deportista2.csv")

In [26]:
deportista2DF.show(5)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|        67787|          Lee BongJu|     1|  27|   167|56.0|      970|
|        67788|            Lee BuTi|     1|  23|   164|54.0|      203|
|        67789|Anthony N. Buddy Lee|     1|  34|   172|62.0|     1096|
|        67790|Alfred A. Butch L...|     1|  19|   186|80.0|      825|
|        67791|        Lee ByeongGu|     1|  22|   175|68.0|      970|
+-------------+--------------------+------+----+------+----+---------+
only showing top 5 rows

In [27]:
deportistaDF = deportistaDF.union(deportista2DF)

In [28]:
deportistaDF.count()

135571

In [29]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/resultados.csv

In [30]:
#Creamos esquema para resultados.csv
resultadosSchema = StructType([
    StructField("resultado_id", IntegerType(), False),
    StructField("medalla", StringType(), False),
    StructField("deportista_id", IntegerType(), False),
    StructField("juego_id", IntegerType(), False),
    StructField("evento_id", IntegerType(), False)
])

#Cargamos el archivo
resultadosDF = sqlContext.read.schema(resultadosSchema)\
    .option("header", "true").csv(path+"resultados.csv")

In [31]:
resultadosDF.show(5)

+------------+-------+-------------+--------+---------+
|resultado_id|medalla|deportista_id|juego_id|evento_id|
+------------+-------+-------------+--------+---------+
|           1|     NA|            1|      39|        1|
|           2|     NA|            2|      49|        2|
|           3|     NA|            3|       7|        3|
|           4|   Gold|            4|       2|        4|
|           5|     NA|            5|      36|        5|
+------------+-------+-------------+--------+---------+
only showing top 5 rows

# Revisar schema de tabas. Renombrar, borrarcolumnas

In [32]:
deporteDF.printSchema()

root
 |-- deporte_id: integer (nullable = true)
 |-- deporte: string (nullable = true)

In [33]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- genero: string (nullable = true)
 |-- edad: integer (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: float (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [34]:
deportistaDF = deportistaDF.withColumnRenamed("genero", "sexo").drop("altura")

In [35]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- edad: integer (nullable = true)
 |-- peso: float (nullable = true)
 |-- equipo_id: integer (nullable = true)

# Función select

In [36]:
from pyspark.sql.functions import * 
deportistaDF = deportistaDF.select("deportista_id", "nombre",
                   col("edad").alias("edadAlJugar"), "equipo_id")

In [37]:
deportistaDF.show(5)

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|            1|           A Dijiang|         24|      199|
|            2|            A Lamusi|         23|      199|
|            3| Gunnar Nielsen Aaby|         24|      273|
|            4|Edgar Lindenau Aabye|         34|      278|
|            5|Christine Jacoba ...|         21|      705|
+-------------+--------------------+-----------+---------+
only showing top 5 rows

In [38]:
deportistaDF.sort("edadAlJugar").show()

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|          224|     Mohamed AbdelEl|          0|      308|
|          487|      Inni Aboubacar|          0|      721|
|          226|Sanad Bushara Abd...|          0|     1003|
|           58|    Georgi Abadzhiev|          0|      154|
|          230|    Moustafa Abdelal|          0|      308|
|          102|   Sayed Fahmy Abaza|          0|      308|
|          260|  Ahmed Abdo Mustafa|          0|     1003|
|          139|George Ioannis Abbot|          0|     1043|
|          281|      S. Abdul Hamid|          0|      487|
|          163|     Ismail Abdallah|          0|     1095|
|          285|Talal Hassoun Abd...|          0|      497|
|          173| Mohamed Abdel Fatah|          0|     1003|
|          179|Ibrahim Saad Abde...|          0|     1003|
|          378|     Angelik Abebame|          0|        0|
|          294|Mohamed Ghulom Ab...|          0|       81|
|          186| Mohamed Abdel Hafiz|          0|     1095|
|          300|     A. Abdul Razzak|          0|      497|
|          190| Ibrahim Abdel Hamid|          0|      308|
|          301|Mohamed Abdul Razzak|          0|      497|
|          209|Ibrahim Abdel Rahman|          0|     1095|
+-------------+--------------------+-----------+---------+
only showing top 20 rows

# Filtrar consultas

In [39]:
deportistaDF = deportistaDF.filter(deportistaDF.edadAlJugar != 0)

In [40]:
deportistaDF.sort("edadAlJugar").show()

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|        71691|  Dimitrios Loundras|         10|      333|
|        70616|          Liu Luyang|         11|      199|
|       118925|Megan Olwen Deven...|         11|      413|
|        52070|        Etsuko Inada|         11|      514|
|        22411|Magdalena Cecilia...|         11|      413|
|        40129|    Luigina Giavotti|         11|      507|
|        47618|Sonja Henie Toppi...|         11|      742|
|        76675|   Marcelle Matthews|         11|      967|
|        37333|Carlos Bienvenido...|         11|      982|
|        51268|      Beatrice Hutiu|         11|      861|
|       126307|        Liana Vicens|         11|      825|
|        48939|             Ho Gang|         12|      738|
|        49142|        Jan Hoffmann|         12|      302|
|        42835|   Werner Grieshofer|         12|       71|
|        54620|Belita Gladys Lyn...|         12|      413|
|        31203|Patricia Anne Pat...|         12|      967|
|        43528|Antoinette Joyce ...|         12|      172|
|        46578|        Diana Hatler|         12|      825|
|        59727|Marika Kilius Zah...|         12|      399|
|        40296|    Alain C. Giletti|         12|      362|
+-------------+--------------------+-----------+---------+
only showing top 20 rows

In [41]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- edadAlJugar: integer (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [42]:
resultadosDF.printSchema()

root
 |-- resultado_id: integer (nullable = true)
 |-- medalla: string (nullable = true)
 |-- deportista_id: integer (nullable = true)
 |-- juego_id: integer (nullable = true)
 |-- evento_id: integer (nullable = true)

In [43]:
juegoDF.printSchema()

root
 |-- juego_id: integer (nullable = true)
 |-- annio: string (nullable = true)
 |-- temporada: string (nullable = true)
 |-- ciudad: string (nullable = true)

In [44]:
deporteDF.printSchema()

root
 |-- deporte_id: integer (nullable = true)
 |-- deporte: string (nullable = true)

In [45]:
deportistaDF.join(resultadosDF, deportistaDF.deportista_id == resultadosDF.deportista_id, "left") \
    .join(juegoDF, juegoDF.juego_id == resultadosDF.juego_id, "left")\
    .join(deporteDF, deporteDF.evento_id == resultadosDF.evento_id, "left")\
    .select(deportistaDF.nombre, col("edad").alias("Edad al jugar"),
           "medalla", col("anio").alias("Año de juego"),
            deporteDF.deporte.alias("Nombre de disciplina")).show()

AttributeError: 'DataFrame' object has no attribute 'evento_id'

In [46]:

resultadosDF.join(deportistaDF,
                  on=[resultadosDF.deportista_id == deportistaDF.deportista_id],
                  how='left'
                 ).join(paisesDF,
                        on=[deportistaDF.equipo_id == paisesDF.id]
            ).select('medalla', 'equipo', 'sigla').filter(~(resultadosDF.medalla == 'NA')).show()

+-------+--------------+-----+
|medalla|        equipo|sigla|
+-------+--------------+-----+
|   Gold|Denmark/Sweden|  SWE|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|   Netherlands|  NED|
+-------+--------------+-----+
only showing top 20 rows

# Medalla por pais y equipo:

In [47]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- edadAlJugar: integer (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [48]:
resultadosDF.printSchema()

root
 |-- resultado_id: integer (nullable = true)
 |-- medalla: string (nullable = true)
 |-- deportista_id: integer (nullable = true)
 |-- juego_id: integer (nullable = true)
 |-- evento_id: integer (nullable = true)

In [49]:
paisesDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- equipo: string (nullable = true)
 |-- sigla: string (nullable = true)

In [50]:

resultadosDF.join(deportistaDF,
                  on=[resultadosDF.deportista_id == deportistaDF.deportista_id],
                  how='left'
                 ).join(paisesDF,
                        on=[deportistaDF.equipo_id == paisesDF.id]
            ).select('medalla', 'equipo', 'sigla').filter(~(resultadosDF.medalla == 'NA')).show()

+-------+--------------+-----+
|medalla|        equipo|sigla|
+-------+--------------+-----+
|   Gold|Denmark/Sweden|  SWE|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|   Netherlands|  NED|
+-------+--------------+-----+
only showing top 20 rows

# Funciones de agregación con joins anidados

In [54]:
deporteDF.printSchema()

root
 |-- deporte_id: integer (nullable = true)
 |-- deporte: string (nullable = true)

In [57]:
medallistaXAnio = deportistaDF\
    .join(resultadosDF, deportistaDF.deportista_id==resultadosDF.deportista_id, "left")\
    .join(juegoDF, juegoDF.juego_id==resultadosDF.juego_id,"left")\
    .join(paisesDF, deportistaDF.equipo_id==paisesDF.id, "left")\
    .select("sigla",
          "annio",
          "medalla",
          deportistaDF.nombre,)

In [59]:
medallistaXAnio.show()

21/10/31 08:55:33 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego
 Schema: juego_id, annio
Expected: juego_id but found:
CSV file: file:///mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/juegos.csv

+-----+-------------+-------+--------------------+
|sigla|        annio|medalla|              nombre|
+-----+-------------+-------+--------------------+
|  CHN|  1992 Verano|     NA|           A Dijiang|
|  CHN|  2012 Verano|     NA|            A Lamusi|
|  DEN|  1920 Verano|     NA| Gunnar Nielsen Aaby|
|  SWE|  1900 Verano|   Gold|Edgar Lindenau Aabye|
|  NED|1994 Invierno|     NA|Christine Jacoba ...|
|  NED|1994 Invierno|     NA|Christine Jacoba ...|
|  NED|1992 Invierno|     NA|Christine Jacoba ...|
|  NED|1992 Invierno|     NA|Christine Jacoba ...|
|  NED|1988 Invierno|     NA|Christine Jacoba ...|
|  NED|1988 Invierno|     NA|Christine Jacoba ...|
|  USA|1994 Invierno|     NA|     Per Knut Aaland|
|  USA|1994 Invierno|     NA|     Per Knut Aaland|
|  USA|1994 Invierno|     NA|     Per Knut Aaland|
|  USA|1994 Invierno|     NA|     Per Knut Aaland|
|  USA|1992 Invierno|     NA|     Per Knut Aaland|
|  USA|1992 Invierno|     NA|     Per Knut Aaland|
|  USA|1992 Invierno|     NA|     Per Knut Aaland|
|  USA|1992 Invierno|     NA|     Per Knut Aaland|
|  USA|1994 Invierno|     NA|        John Aalberg|
|  USA|1994 Invierno|     NA|        John Aalberg|
+-----+-------------+-------+--------------------+
only showing top 20 rows

# Agregaciones sin agg

In [71]:
medallistaXAnio2 = medallistaXAnio.filter(medallistaXAnio.medalla != 'NA')\
    .sort("annio", reverse =False)\
    .groupBy("sigla", "annio")\
    .count()

In [72]:
medallistaXAnio2.show()

21/10/31 09:01:41 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego
 Schema: juego_id, annio
Expected: juego_id but found:
CSV file: file:///mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/juegos.csv

+-----+-------------+-----+
|sigla|        annio|count|
+-----+-------------+-----+
|  SWE|  1976 Verano|   10|
|  SUI|2014 Invierno|   29|
|  AUT|  1928 Verano|    5|
|  SYR|  1984 Verano|    1|
|  ETH|  2004 Verano|    7|
|  BEL|  2000 Verano|    7|
|  MGL|  2008 Verano|    5|
|  MAS|  2012 Verano|    2|
|  NED|1992 Invierno|    4|
|  ITA|  1996 Verano|   69|
|  ARG|  2004 Verano|   49|
|  URS|1984 Invierno|   56|
|  DEN|  1956 Verano|    6|
|  THA|  2008 Verano|    4|
|  CHI|  1988 Verano|    1|
|  GRN|  2016 Verano|    1|
|  DEN|  1896 Verano|    6|
|  GBR|  1980 Verano|   49|
|  BRA|  1988 Verano|   23|
|  SWE|  1932 Verano|   32|
+-----+-------------+-----+
only showing top 20 rows

In [73]:
medallistaXAnio2.printSchema()

root
 |-- sigla: string (nullable = true)
 |-- annio: string (nullable = true)
 |-- count: long (nullable = false)

# Agregaciones con agg

In [74]:
medallistaXAnio2.groupBy("sigla", "annio")\
    .agg(sum("count").alias("Total de medallas"),\
        avg("count").alias("Medallas promedio")).show()

21/10/31 09:04:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego
 Schema: juego_id, annio
Expected: juego_id but found:
CSV file: file:///mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/juegos.csv

+-----+-------------+-----------------+-----------------+
|sigla|        annio|Total de medallas|Medallas promedio|
+-----+-------------+-----------------+-----------------+
|  SWE|  1976 Verano|               10|             10.0|
|  SUI|2014 Invierno|               29|             29.0|
|  AUT|  1928 Verano|                5|              5.0|
|  SYR|  1984 Verano|                1|              1.0|
|  ETH|  2004 Verano|                7|              7.0|
|  BEL|  2000 Verano|                7|              7.0|
|  MGL|  2008 Verano|                5|              5.0|
|  MAS|  2012 Verano|                2|              2.0|
|  NED|1992 Invierno|                4|              4.0|
|  ITA|  1996 Verano|               69|             69.0|
|  ARG|  2004 Verano|               49|             49.0|
|  URS|1984 Invierno|               56|             56.0|
|  DEN|  1956 Verano|                6|              6.0|
|  THA|  2008 Verano|                4|              4.0|
|  CHI|  1988 Verano|                1|              1.0|
|  GRN|  2016 Verano|                1|              1.0|
|  DEN|  1896 Verano|                6|              6.0|
|  GBR|  1980 Verano|               49|             49.0|
|  BRA|  1988 Verano|               23|             23.0|
|  SWE|  1932 Verano|               32|             32.0|
+-----+-------------+-----------------+-----------------+
only showing top 20 rows

# Comoregistrar DataFrames como tablas de SQL

In [75]:
resultadosDF.registerTempTable("resultado")
deportistaDF.registerTempTable("deportista")
paisesDF.registerTempTable("paises")

/home/thecarlos/.local/lib/python3.8/site-packages/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [76]:
sqlContext.sql("SELECT * FROM deportista").show(5)

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|            1|           A Dijiang|         24|      199|
|            2|            A Lamusi|         23|      199|
|            3| Gunnar Nielsen Aaby|         24|      273|
|            4|Edgar Lindenau Aabye|         34|      278|
|            5|Christine Jacoba ...|         21|      705|
+-------------+--------------------+-----------+---------+
only showing top 5 rows

In [78]:
sqlContext.sql("""
  SELECT medalla, equipo, sigla FROM resultado r
  JOIN deportista d
  ON r.deportista_id = d.deportista_id
  JOIN paises p
  ON p.id = d.equipo_id
  WHERE medalla <> "NA"
  ORDER BY sigla DESC
    """).show()

+-------+--------+-----+
|medalla|  equipo|sigla|
+-------+--------+-----+
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
| Silver|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
| Bronze|Zimbabwe|  ZIM|
| Silver|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
| Silver|Zimbabwe|  ZIM|
| Silver|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
|   Gold|Zimbabwe|  ZIM|
+-------+--------+-----+
only showing top 20 rows

In [79]:
spark

In [82]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deportistaError.csv

In [83]:
deportistaError = spark.textFile(path+"deportistaError.csv")\
    .map(lambda l : l.split(","))

In [84]:
def eliminaEncabezado(indice, iterador):
    return(iter(list(iterador)[1:]))

In [86]:
deportistaError = deportistaError.mapPartitionsWithIndex(eliminaEncabezado)

In [90]:
deportistaError.take(5)

[['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '', '', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '', '', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705']]

In [98]:
deportistaError = deportistaError.map(lambda l: (
    l[0],
    l[1],
    l[2],
    l[3],
    l[4],
    l[5],
    l[6],))

schema = StructType([
    StructField("deportista_id", StringType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", StringType(), False),
    StructField("altura", StringType(), False),
    StructField("peso", StringType(), False),
    StructField("equipo_id", StringType(), False)
    
])

deportistaErrorDF = sqlContext.createDataFrame(deportistaError, schema)

In [99]:
deportistaErrorDF.show()

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|            1|           A Dijiang|     1|  24|   180|  80|      199|
|            2|            A Lamusi|     1|  23|   170|  60|      199|
|            3| Gunnar Nielsen Aaby|     1|  24|      |    |      273|
|            4|Edgar Lindenau Aabye|     1|  34|      |    |      278|
|            5|Christine Jacoba ...|     2|  21|   185|  82|      705|
|            6|     Per Knut Aaland|     1|  31|   188|  75|     1096|
|            7|        John Aalberg|     1|  31|   183|  72|     1096|
|            8|"Cornelia ""Cor""...|     2|  18|   168|    |      705|
|            9|    Antti Sami Aalto|     1|  26|   186|  96|      350|
|           10|"Einar Ferdinand ...|     1|  26|      |    |      350|
|           11|  Jorma Ilmari Aalto|     1|  22|   182|76.5|      350|
|           12|   Jyri Tapani Aalto|     1|  31|   172|  70|      350|
|           13|  Minna Maarit Aalto|     2|  30|   159|55.5|      350|
|           14|Pirjo Hannele Aal...|     2|  32|   171|  65|      350|
|           15|Arvo Ossian Aaltonen|     1|  22|      |    |      350|
|           16|Juhamatti Tapio A...|     1|  28|   184|  85|      350|
|           17|Paavo Johannes Aa...|     1|  28|   175|  64|      350|
|           18|Timo Antero Aaltonen|     1|  31|   189| 130|      350|
|           19|Win Valdemar Aalt...|     1|  54|      |    |      350|
|           20|  Kjetil Andr Aamodt|     1|  20|   176|  85|      742|
+-------------+--------------------+------+----+------+----+---------+
only showing top 20 rows

A pesar de que se pudo crear exitosamente el DataFrame, no está bien. Las columnas númericas deberían de tener valores Null y no espacios en blanco. Vamos a crear una UDF para arreglar esto

In [100]:
from pyspark.sql.functions import udf

In [102]:
def conversionEntero(valor):
    return int(valor) if len (valor) > 0 else None

conversionEntero_udf = udf(lambda z: conversionEntero(z), IntegerType())
sqlContext.udf.register("conversionEntero_udf", conversionEntero_udf)

In [104]:
deportistaErrorDF.select(conversionEntero_udf("altura").alias("alturaUDF")).show()

+---------+
|alturaUDF|
+---------+
|      180|
|      170|
|     null|
|     null|
|      185|
|      188|
|      183|
|      168|
|      186|
|     null|
|      182|
|      172|
|      159|
|      171|
|     null|
|      184|
|      175|
|      189|
|     null|
|      176|
+---------+
only showing top 20 rows

Traceback (most recent call last):
  File "/home/thecarlos/.local/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/daemon.py", line 186, in manager
  File "/home/thecarlos/.local/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/daemon.py", line 74, in worker
  File "/home/thecarlos/.local/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 663, in main
    if read_int(infile) == SpecialLengths.END_OF_STREAM:
  File "/home/thecarlos/.local/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 564, in read_int
    raise EOFError
EOFError

Particionado:
cache() y persist()
memoria o disco.

Por defecto pyspark los almacena de forma serializada.

Existen varios tipos de persistencia.

# Persistencia. Como agregar un DataFrame a la memoria

In [106]:
from pyspark.storagelevel import StorageLevel

In [107]:
medallistaXAnio.is_cached

False

In [108]:
medallistaXAnio.rdd.cache()

21/10/31 09:58:44 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego
 Schema: juego_id, annio
Expected: juego_id but found:
CSV file: file:///mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/juegos.csv

MapPartitionsRDD[367] at javaToPython at NativeMethodAccessorImpl.java:0

Saber el tipo de persistenicia

getStorageLevel(disk,memory, useoffHeap, deserialized, replication=1) 

Se recomienda que la replicación sea a partir de 3

In [110]:
medallistaXAnio.rdd.getStorageLevel()

StorageLevel(False, True, False, False, 1)

In [113]:
#quitamos la persistencia en cache
medallistaXAnio.rdd.unpersist()

MapPartitionsRDD[367] at javaToPython at NativeMethodAccessorImpl.java:0

In [114]:
medallistaXAnio.rdd.persist(StorageLevel.MEMORY_AND_DISK_2)

MapPartitionsRDD[367] at javaToPython at NativeMethodAccessorImpl.java:0

In [115]:
#Para crear mi propio nivel de particionamiento
StorageLevel.MEMORY_AND_DISK_3 = StorageLevel(True,True,False,False,3)

In [116]:
medallistaXAnio.rdd.unpersist()

MapPartitionsRDD[367] at javaToPython at NativeMethodAccessorImpl.java:0

In [117]:
medallistaXAnio.rdd.persist(StorageLevel.MEMORY_AND_DISK_3)

MapPartitionsRDD[367] at javaToPython at NativeMethodAccessorImpl.java:0