In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.types import Row
from pyspark.sql import SQLContext

# Crear un dataFrame a partir de un archivo plano

In [6]:
spark = SparkContext(master = "local", appName = "DataFrames")
sqlContext = SQLContext(spark)

/home/thecarlos/.local/lib/python3.8/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [7]:
#podemos crear un DataFrame de 2 formas:

In [11]:
path = "/mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/"

In [21]:
!ls /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista.csv	 evento.csv	      paises.csv
deportista2.csv  juegos.csv	      resultados.csv

In [12]:
#Creamos esquema para juegos.csv
juegoSchema = StructType([
    StructField("juego_id", IntegerType(), False),
    StructField("annio", StringType(), False),
    StructField("temporada", StringType(), False),
    StructField("ciudad", StringType(), False)
])

#Cargamos el archivo
juegoDF = sqlContext.read.schema(juegoSchema)\
    .option("header", "true").csv(path+"juegos.csv")

In [13]:
juegoDF.show(4)

21/10/30 19:24:47 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 5, schema size: 4
CSV file: file:///mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/juegos.csv

+--------+-----------+---------+------+
|juego_id|      annio|temporada|ciudad|
+--------+-----------+---------+------+
|       1|1896 Verano|     1896|Verano|
|       2|1900 Verano|     1900|Verano|
|       3|1904 Verano|     1904|Verano|
|       4|1906 Verano|     1906|Verano|
+--------+-----------+---------+------+
only showing top 4 rows

In [22]:
#XXdeporte.csv	XX deportistaError.csv  modelo_relacional.jpg
#XXdeportista.csvXX	 XXevento.csv	XX      XXpaises.csvXX
#XXdeportista2.csvXX  XXjuegos.csv	XX      XXresultados.csvXX

In [72]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deporte.csv

In [24]:
#Creamos esquema para deporte.csv
deporteSchema = StructType([
    StructField("deporte_id", IntegerType(), False),
    StructField("deporte", StringType(), False)
])

#Cargamos el archivo
deporteDF = sqlContext.read.schema(deporteSchema)\
    .option("header", "true").csv(path+"deporte.csv")

In [25]:
deporteDF.show(4)

+----------+----------+
|deporte_id|   deporte|
+----------+----------+
|         1|Basketball|
|         2|      Judo|
|         3|  Football|
|         4|Tug-Of-War|
+----------+----------+
only showing top 4 rows

In [26]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deportistaError.csv

In [29]:
#Creamos esquema para deportistaError.csv
deportistaErrorSchema = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

#Cargamos el archivo
deportistaErrorDF = sqlContext.read.schema(deportistaErrorSchema)\
    .option("header", "true").csv(path+"deportistaError.csv")

In [30]:
deportistaErrorDF.show(4)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|            1|           A Dijiang|     1|  24|   180|80.0|      199|
|            2|            A Lamusi|     1|  23|   170|60.0|      199|
|            3| Gunnar Nielsen Aaby|     1|  24|  null|null|      273|
|            4|Edgar Lindenau Aabye|     1|  34|  null|null|      278|
+-------------+--------------------+------+----+------+----+---------+
only showing top 4 rows

In [31]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deportista.csv

In [32]:
#Creamos esquema para deportista.csv
deportistaSchema = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

#Cargamos el archivo
deportistaDF = sqlContext.read.schema(deportistaSchema)\
    .option("header", "true").csv(path+"deportista.csv")

In [33]:
deportistaDF.show(5)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|            1|           A Dijiang|     1|  24|   180|80.0|      199|
|            2|            A Lamusi|     1|  23|   170|60.0|      199|
|            3| Gunnar Nielsen Aaby|     1|  24|     0| 0.0|      273|
|            4|Edgar Lindenau Aabye|     1|  34|     0| 0.0|      278|
|            5|Christine Jacoba ...|     2|  21|   185|82.0|      705|
+-------------+--------------------+------+----+------+----+---------+
only showing top 5 rows

In [34]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/evento.csv

In [35]:
#Creamos esquema para evento.csv
eventoSchema = StructType([
    StructField("evento_id", IntegerType(), False),
    StructField("evento", StringType(), False),
    StructField("deporte_id", IntegerType(), False)
])

#Cargamos el archivo
eventoDF = sqlContext.read.schema(eventoSchema)\
    .option("header", "true").csv(path+"evento.csv")

In [36]:
eventoDF.show(5)

+---------+--------------------+----------+
|evento_id|              evento|deporte_id|
+---------+--------------------+----------+
|        1|Basketball Men's ...|         1|
|        2|Judo Men's Extra-...|         2|
|        3|Football Men's Fo...|         3|
|        4|Tug-Of-War Men's ...|         4|
|        5|Speed Skating Wom...|         5|
+---------+--------------------+----------+
only showing top 5 rows

In [37]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/paises.csv

In [40]:
#Creamos esquema para paises.csv
paisesSchema = StructType([
    StructField("id", IntegerType(), False),
    StructField("equipo", StringType(), False),
    StructField("sigla", StringType(), False),
])

#Cargamos el archivo
paisesDF = sqlContext.read.schema(paisesSchema)\
    .option("header", "true").csv(path+"paises.csv")

In [41]:
paisesDF.show(5)

+---+--------------------+-----+
| id|              equipo|sigla|
+---+--------------------+-----+
|  1|         30. Februar|  AUT|
|  2|A North American ...|  MEX|
|  3|           Acipactli|  MEX|
|  4|             Acturus|  ARG|
|  5|         Afghanistan|  AFG|
+---+--------------------+-----+
only showing top 5 rows

In [42]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deportista2.csv

In [43]:
#Creamos esquema para deportista2.csv
deportista2Schema = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

#Cargamos el archivo
deportista2DF = sqlContext.read.schema(deportista2Schema)\
    .option("header", "false").csv(path+"deportista2.csv")

In [45]:
deportista2DF.show(5)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|        67787|          Lee BongJu|     1|  27|   167|56.0|      970|
|        67788|            Lee BuTi|     1|  23|   164|54.0|      203|
|        67789|Anthony N. Buddy Lee|     1|  34|   172|62.0|     1096|
|        67790|Alfred A. Butch L...|     1|  19|   186|80.0|      825|
|        67791|        Lee ByeongGu|     1|  22|   175|68.0|      970|
+-------------+--------------------+------+----+------+----+---------+
only showing top 5 rows

In [46]:
deportistaDF = deportistaDF.union(deportista2DF)

In [48]:
deportistaDF.count()

135571

In [49]:
!head -n 5 /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/resultados.csv

In [52]:
#Creamos esquema para resultados.csv
resultadosSchema = StructType([
    StructField("resultado_id", IntegerType(), False),
    StructField("medalla", StringType(), False),
    StructField("deportista_id", IntegerType(), False),
    StructField("juego_id", IntegerType(), False),
    StructField("evento_id", IntegerType(), False)
])

#Cargamos el archivo
resultadosDF = sqlContext.read.schema(resultadosSchema)\
    .option("header", "true").csv(path+"resultados.csv")

In [53]:
resultadosDF.show(5)

+------------+-------+-------------+--------+---------+
|resultado_id|medalla|deportista_id|juego_id|evento_id|
+------------+-------+-------------+--------+---------+
|           1|     NA|            1|      39|        1|
|           2|     NA|            2|      49|        2|
|           3|     NA|            3|       7|        3|
|           4|   Gold|            4|       2|        4|
|           5|     NA|            5|      36|        5|
+------------+-------+-------------+--------+---------+
only showing top 5 rows

# Revisar schema de tabas. Renombrar, borrarcolumnas

In [54]:
deporteDF.printSchema()

root
 |-- deporte_id: integer (nullable = true)
 |-- deporte: string (nullable = true)

In [55]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- genero: string (nullable = true)
 |-- edad: integer (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: float (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [56]:
deportistaDF = deportistaDF.withColumnRenamed("genero", "sexo").drop("altura")

In [57]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- edad: integer (nullable = true)
 |-- peso: float (nullable = true)
 |-- equipo_id: integer (nullable = true)

# Función select

In [60]:
from pyspark.sql.functions import * 
deportistaDF = deportistaDF.select("deportista_id", "nombre",
                   col("edad").alias("edadAlJugar"), "equipo_id")

In [61]:
deportistaDF.show(5)

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|            1|           A Dijiang|         24|      199|
|            2|            A Lamusi|         23|      199|
|            3| Gunnar Nielsen Aaby|         24|      273|
|            4|Edgar Lindenau Aabye|         34|      278|
|            5|Christine Jacoba ...|         21|      705|
+-------------+--------------------+-----------+---------+
only showing top 5 rows

In [62]:
deportistaDF.sort("edadAlJugar").show()

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|          224|     Mohamed AbdelEl|          0|      308|
|          487|      Inni Aboubacar|          0|      721|
|          226|Sanad Bushara Abd...|          0|     1003|
|           58|    Georgi Abadzhiev|          0|      154|
|          230|    Moustafa Abdelal|          0|      308|
|          102|   Sayed Fahmy Abaza|          0|      308|
|          260|  Ahmed Abdo Mustafa|          0|     1003|
|          139|George Ioannis Abbot|          0|     1043|
|          281|      S. Abdul Hamid|          0|      487|
|          163|     Ismail Abdallah|          0|     1095|
|          285|Talal Hassoun Abd...|          0|      497|
|          173| Mohamed Abdel Fatah|          0|     1003|
|          179|Ibrahim Saad Abde...|          0|     1003|
|          378|     Angelik Abebame|          0|        0|
|          294|Mohamed Ghulom Ab...|          0|       81|
|          186| Mohamed Abdel Hafiz|          0|     1095|
|          300|     A. Abdul Razzak|          0|      497|
|          190| Ibrahim Abdel Hamid|          0|      308|
|          301|Mohamed Abdul Razzak|          0|      497|
|          209|Ibrahim Abdel Rahman|          0|     1095|
+-------------+--------------------+-----------+---------+
only showing top 20 rows

# Filtrar consultas

In [63]:
deportistaDF = deportistaDF.filter(deportistaDF.edadAlJugar != 0)

In [65]:
deportistaDF.sort("edadAlJugar").show()

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|        71691|  Dimitrios Loundras|         10|      333|
|        70616|          Liu Luyang|         11|      199|
|       118925|Megan Olwen Deven...|         11|      413|
|        52070|        Etsuko Inada|         11|      514|
|        22411|Magdalena Cecilia...|         11|      413|
|        40129|    Luigina Giavotti|         11|      507|
|        47618|Sonja Henie Toppi...|         11|      742|
|        76675|   Marcelle Matthews|         11|      967|
|        37333|Carlos Bienvenido...|         11|      982|
|        51268|      Beatrice Hutiu|         11|      861|
|       126307|        Liana Vicens|         11|      825|
|        48939|             Ho Gang|         12|      738|
|        49142|        Jan Hoffmann|         12|      302|
|        42835|   Werner Grieshofer|         12|       71|
|        54620|Belita Gladys Lyn...|         12|      413|
|        31203|Patricia Anne Pat...|         12|      967|
|        43528|Antoinette Joyce ...|         12|      172|
|        46578|        Diana Hatler|         12|      825|
|        59727|Marika Kilius Zah...|         12|      399|
|        40296|    Alain C. Giletti|         12|      362|
+-------------+--------------------+-----------+---------+
only showing top 20 rows

In [66]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- edadAlJugar: integer (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [67]:
resultadosDF.printSchema()

root
 |-- resultado_id: integer (nullable = true)
 |-- medalla: string (nullable = true)
 |-- deportista_id: integer (nullable = true)
 |-- juego_id: integer (nullable = true)
 |-- evento_id: integer (nullable = true)

In [68]:
juegoDF.printSchema()

root
 |-- juego_id: integer (nullable = true)
 |-- annio: string (nullable = true)
 |-- temporada: string (nullable = true)
 |-- ciudad: string (nullable = true)

In [69]:
deporteDF.printSchema()

root
 |-- deporte_id: integer (nullable = true)
 |-- deporte: string (nullable = true)

In [87]:
deportistaDF.join(resultadosDF, deportistaDF.deportista_id == resultadosDF.deportista_id, "left") \
    .join(juegoDF, juegoDF.juego_id == resultadosDF.juego_id, "left")\
    .join(deporteDF, deporteDF.evento_id == resultadosDF.evento_id, "left")\
    .select(deportistaDF.nombre, col("edad").alias("Edad al jugar"),
           "medalla", col("anio").alias("Año de juego"),
            deporteDF.deporte.alias("Nombre de disciplina")).show()

AnalysisException: cannot resolve 'edad' given input columns: [annio, ciudad, deportista_id, deportista_id, edadAlJugar, equipo_id, evento_id, juego_id, juego_id, medalla, nombre, resultado_id, temporada];
'Project [nombre#109, 'edad AS Edad al jugar#862, medalla#380, 'anio AS Año de juego#863]
+- Join LeftOuter, (juego_id#0 = juego_id#382)
   :- Join LeftOuter, (deportista_id#108 = deportista_id#381)
   :  :- Filter NOT (edadAlJugar#434 = 0)
   :  :  +- Project [deportista_id#108, nombre#109, edad#111 AS edadAlJugar#434, equipo_id#114]
   :  :     +- Project [deportista_id#108, nombre#109, sexo#415, edad#111, peso#113, equipo_id#114]
   :  :        +- Project [deportista_id#108, nombre#109, genero#110 AS sexo#415, edad#111, altura#112, peso#113, equipo_id#114]
   :  :           +- Union false, false
   :  :              :- Relation [deportista_id#108,nombre#109,genero#110,edad#111,altura#112,peso#113,equipo_id#114] csv
   :  :              +- Relation [deportista_id#224,nombre#225,genero#226,edad#227,altura#228,peso#229,equipo_id#230] csv
   :  +- Relation [resultado_id#379,medalla#380,deportista_id#381,juego_id#382,evento_id#383] csv
   +- Relation [juego_id#0,annio#1,temporada#2,ciudad#3] csv

In [92]:

resultadosDF.join(deportistaDF,
                  on=[resultadosDF.deportista_id == deportistaDF.deportista_id],
                  how='left'
                 ).join(paisesDF,
                        on=[deportistaDF.equipo_id == paisesDF.id]
            ).select('medalla', 'equipo', 'sigla').filter(~(resultadosDF.medalla == 'NA')).show()

+-------+--------------+-----+
|medalla|        equipo|sigla|
+-------+--------------+-----+
|   Gold|Denmark/Sweden|  SWE|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|   Netherlands|  NED|
+-------+--------------+-----+
only showing top 20 rows

# Medalla por pais y equipo:

In [93]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- edadAlJugar: integer (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [94]:
resultadosDF.printSchema()

root
 |-- resultado_id: integer (nullable = true)
 |-- medalla: string (nullable = true)
 |-- deportista_id: integer (nullable = true)
 |-- juego_id: integer (nullable = true)
 |-- evento_id: integer (nullable = true)

In [95]:
paisesDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- equipo: string (nullable = true)
 |-- sigla: string (nullable = true)

In [96]:

resultadosDF.join(deportistaDF,
                  on=[resultadosDF.deportista_id == deportistaDF.deportista_id],
                  how='left'
                 ).join(paisesDF,
                        on=[deportistaDF.equipo_id == paisesDF.id]
            ).select('medalla', 'equipo', 'sigla').filter(~(resultadosDF.medalla == 'NA')).show()

+-------+--------------+-----+
|medalla|        equipo|sigla|
+-------+--------------+-----+
|   Gold|Denmark/Sweden|  SWE|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
|   Gold|       Finland|  FIN|
| Bronze|       Finland|  FIN|
|   Gold|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|        Norway|  NOR|
| Silver|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
|   Gold|        Norway|  NOR|
| Silver|        Norway|  NOR|
| Bronze|   Netherlands|  NED|
+-------+--------------+-----+
only showing top 20 rows

In [ ]:
deportistaDF.join(resultadosDF, deportistaDF.deportista_id == resultadosDF.deportista_id, "left") \
    .join(juegoDF, juegoDF.juego_id == resultadosDF.juego_id, "left")\
    .join(deporteDF, deporteDF.evento_id == resultadosDF.evento_id, "left")\
    .select(deportistaDF.nombre, col("edad").alias("Edad al jugar"),
           "medalla", col("anio").alias("Año de juego"),
            deporteDF.deporte.alias("Nombre de disciplina")).show()