In [50]:
from pyspark import SparkContext

In [51]:
sc = SparkContext(master= "local", appName = "TransformacionesYAcciones")

In [52]:
rdd1 = sc.parallelize([1,2,3])
type(rdd1)

pyspark.rdd.RDD

In [53]:
 print(rdd1)

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [54]:
rdd1.collect()

[1, 2, 3]

In [55]:
sc

In [56]:
!ls /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista.csv	 evento.csv	      paises.csv
deportista2.csv  juegos.csv	      resultados.csv

In [57]:
path = "/mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/"
equiposOlimpicosRDD = sc.textFile(path+"paises.csv")\
    .map(lambda line : line.split(","))

In [58]:
equiposOlimpicosRDD.take(5)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG']]

In [59]:
#Liberamos memoria
#sc.stop()

In [60]:
deportesRDD = sc.textFile(path+"deporte.csv")\
    .map(lambda line : line.split(","))

In [61]:
deportesRDD.take(5)

[['deporte_id', 'deporte'],
 ['1', 'Basketball'],
 ['2', 'Judo'],
 ['3', 'Football'],
 ['4', 'Tug-Of-War']]

In [62]:
equiposOlimpicosRDD.take(15)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG'],
 ['5', 'Afghanistan', 'AFG'],
 ['6', 'Akatonbo', 'IRL'],
 ['7', 'Alain IV', 'SUI'],
 ['8', 'Albania', 'ALB'],
 ['9', 'Alcaid', 'POR'],
 ['10', 'Alcyon-6', 'FRA'],
 ['11', 'Alcyon-7', 'FRA'],
 ['12', 'Aldebaran', 'ITA'],
 ['13', 'Aldebaran II', 'ITA'],
 ['14', 'Aletta', 'IRL']]

Conts

In [63]:
equiposOlimpicosRDD.map(lambda x: (x[2])).distinct().count()

231

Groupby

In [64]:
equiposOlimpicosRDD.map(lambda x : (x[2], x[1])).groupByKey().mapValues(len).take(10)

[('sigla', 1),
 ('AUT', 11),
 ('MEX', 9),
 ('ARG', 18),
 ('AFG', 1),
 ('IRL', 7),
 ('SUI', 17),
 ('ALB', 1),
 ('POR', 21),
 ('FRA', 155)]

In [65]:
equiposOlimpicosRDD.map(lambda x : (x[2], x[1])).groupByKey()\
    .mapValues(list).take(10)

[('sigla', ['equipo']),
 ('AUT',
  ['30. Februar',
   'Austria',
   'Austria-1',
   'Austria-2',
   'Breslau',
   'Brigantia',
   'Donar III',
   'Evita VI',
   'May-Be 1960',
   '"R.-V. Germania; Leitmeritz"',
   'Surprise']),
 ('MEX',
  ['A North American Team',
   'Acipactli',
   'Chamukina',
   'Mexico',
   'Mexico-1',
   'Mexico-2',
   'Nausikaa 4',
   'Tlaloc',
   'Xolotl']),
 ('ARG',
  ['Acturus',
   'Antares',
   'Arcturus',
   'Ardilla',
   'Argentina',
   'Argentina-1',
   'Argentina-2',
   'Blue Red',
   'Covunco III',
   'Cupidon III',
   'Djinn',
   'Gullvinge',
   'Matrero II',
   'Mizar',
   'Pampero',
   'Rampage',
   'Tango',
   'Wiking']),
 ('AFG', ['Afghanistan']),
 ('IRL',
  ['Akatonbo',
   'Aletta',
   'Ireland',
   'Ireland-1',
   'Ireland-2',
   'The Cloud',
   'Three Leaves']),
 ('SUI',
  ['Alain IV',
   'Ali-Baba IV',
   'Ali-Baba IX',
   'Ali-Baba VI',
   'Baccara',
   'Ballerina IV',
   'Fantasio III',
   'Kln',
   'Lerina',
   'Pousse-Moi Pas VII',
   'Switzerland',
   'Switzerland-1',
   'Switzerland-2',
   'Tim-Tam III',
   'Ylliam II',
   'Ylliam VII',
   'Ylliam VIII']),
 ('ALB', ['Albania']),
 ('POR',
  ['Alcaid',
   'Argus',
   'Calcinhas',
   'Camelia',
   'Ciocca III',
   'Espadarte',
   'Espardate',
   'Faneca',
   'Galopin De La Font',
   'Grifo III',
   'Grifo IV',
   'Hannover',
   "Ma'Lindo",
   'Notavel',
   'Oxalis',
   'Portugal',
   'Portugal-1',
   'Portugal-2',
   'Sjhxa',
   'Symphony',
   'Vicking']),
 ('FRA',
  ['Alcyon-6',
   'Alcyon-7',
   'Allegro',
   'Amulet-3',
   'Amulet-7',
   'Ariette-10',
   'Ariette-8',
   'Astrid III',
   'Baby-1',
   'Baby-9',
   '"Bagatelle Polo Club; Paris"',
   'C.V.A.-14',
   'C.V.A.-7',
   'Calimucho',
   'Calypse II',
   'Camille',
   'Carabinier-15',
   'Carabinier-5',
   "Cercle de l'Aviron Roubaix-4",
   'Cercle Nautique de Reims-4',
   'Cinara-13',
   'Club Nautique de Dieppe-5',
   'Club Nautique de Franais-1',
   'Club Nautique de Lyon-2',
   'Colette-10',
   'Colette-12',
   'Compigne Polo Club',
   'Crabe I-11',
   'Crabe I-2',
   'Crabe I-3',
   'Crabe II-1',
   'Crabe II-12',
   'Crabe II-4',
   'Crocodile-11',
   'Crocodile-13',
   'Cupidon Viking',
   'Damoiselle',
   'Demi-Mondaine-15',
   'Demi-Mondaine-17',
   'Diabolo St Maurice',
   'Dick-8',
   'Ducky-16',
   'Ducky-4',
   'EA II',
   'Eissero VI',
   'Esterel-1',
   'Fada',
   'Fantlet-2',
   'Fantlet-7',
   'Favorite-1',
   'Favorite-17',
   'Femur-1',
   'Femur-18',
   'France',
   'France-1',
   'France-2',
   'France-3',
   'France-4',
   'Freia-19',
   'Freia-5',
   'Frip IV',
   'Galopin-20',
   'Galopin-9',
   'Gam II',
   'Gilliatt V',
   'Giselle-6',
   'Gitana-2',
   'Gitana-21',
   'Guyoni',
   'Gwendoline-2',
   'Gwendoline-22',
   'Gyp-23',
   'Gyp-6',
   'Hb-20',
   'Hb-24',
   'Jeanette-25',
   'Jeannette-18',
   'Kannibaltje',
   "L'Aile VI",
   'LaBandera',
   'Leipzig',
   'Libellule de Paris',
   'Libellule de Paris-3',
   'Mac Miche',
   'Mamie-4',
   'Mamie-6',
   'Marsouin-26',
   'Marsouin-8',
   'Martha-1',
   'Martha-27',
   'Mascaret-28',
   'Mascaret-4',
   'Mignon-29',
   'Mignon-3',
   'Namoussa',
   'Nina Claire-2',
   'Nina Claire-30',
   'Olle',
   'Pettit-Poucet-6',
   'Pierre et Jean-3',
   'Pierre et Jean-4',
   'Pigoule',
   'Pirouette-31',
   'Pirouette-5',
   'Plume-patte-32',
   'Plume-Patte-5',
   'Pupilles de Neptune de Lille #1-3',
   'Pupilles de Neptune de Lille #2-1',
   'Pupilles de Neptune de Lille-1',
   "Qu'Importe",
   'Quand-Mme-2',
   'Quand-Mme-33',
   'Racing Club de France',
   'Red Indian',
   'Rose Pompon',
   'Rowing Club Castillon-3',
   'Rozenn-3',
   'Sandra',
   'Sarcelle-3',
   'Sarcelle-35',
   'Scamasaxe-2',
   'Scamasaxe-3',
   'Scamasaxe-34',
   'Sidi Fekkar-36',
   'Sidi-Fekkar-14',
   'Singy-37',
   'Singy-7',
   'Snowten III',
   'Societ Nautique de la Marne',
   'Societ Nautique de la Marne-1',
   'Societ Nautique de la Marne-3',
   'Socit Nautique de Bayonne',
   'Socit Nautique de Bayonne-1',
   'Socit Nautique de Bayonne-2',
   'Socit Nautique de la Basse Seine-1',
   'Socit Nautique de la Basse Seine-2',
   'Souriceau-38',
   'Souriceau-4',
   'Souvenance',
   'Stade Franais AC-2',
   'Suzon IV-39',
   'Suzon IV-5',
   'Tornade-16',
   'Tournade-40',
   'Tramontane',
   'Tritons Lillois-2',
   'Turquoise-1',
   'Turquoise-3',
   'Union des Socits Franais de Sports Athletiques',
   'United States/France',
   'USFSA',
   'Verveine-19',
   'Verveine-41',
   'Virginie',
   'Whitini Star'])]

In [66]:
equiposArgentinos = equiposOlimpicosRDD.filter(lambda l : "ARG" in l)
equiposArgentinos.collect()

[['4', 'Acturus', 'ARG'],
 ['37', 'Antares', 'ARG'],
 ['42', 'Arcturus', 'ARG'],
 ['43', 'Ardilla', 'ARG'],
 ['45', 'Argentina', 'ARG'],
 ['46', 'Argentina-1', 'ARG'],
 ['47', 'Argentina-2', 'ARG'],
 ['119', 'Blue Red', 'ARG'],
 ['238', 'Covunco III', 'ARG'],
 ['252', 'Cupidon III', 'ARG'],
 ['288', 'Djinn', 'ARG'],
 ['436', 'Gullvinge', 'ARG'],
 ['644', 'Matrero II', 'ARG'],
 ['672', 'Mizar', 'ARG'],
 ['774', 'Pampero', 'ARG'],
 ['843', 'Rampage', 'ARG'],
 ['1031', 'Tango', 'ARG'],
 ['1162', 'Wiking', 'ARG']]

In [67]:
equiposArgentinos.map(lambda x : (x[2], x[1])).groupByKey().mapValues(len).take(2)

[('ARG', 18)]

In [68]:
equiposOlimpicosRDD.count()

1185

In [69]:
#Nos da una cuenta rápida limitada por la cantidad (en milisegundos) que se de como parametro a la función
equiposOlimpicosRDD.countApprox(1000)

1185

In [70]:
!ls /mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista.csv	 evento.csv	      paises.csv
deportista2.csv  juegos.csv	      resultados.csv

In [71]:
deportistaOlimpicoRDD = sc.textFile(path+"deportista.csv").map(lambda l : l.split(","))
deportistaOlimpicoRDD2 = sc.textFile(path+"deportista2.csv").map(lambda l : l.split(","))

In [72]:
#uniomos los dos RDD
deportistaOlimpicoRDD = deportistaOlimpicoRDD.union(deportistaOlimpicoRDD2)

In [73]:
deportistaOlimpicoRDD.count()

135572

In [74]:
equiposOlimpicosRDD.take(4)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX']]

In [75]:
deportistaOlimpicoRDD.take(4)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273']]

In [76]:
deportistaOlimpicoRDD.map(lambda l : [l[-1], l[:-1]])\
    .join(equiposOlimpicosRDD.map(lambda x : [x[0],x[2]]))\
    .take(6)

[('199', (['1', 'A Dijiang', '1', '24', '180', '80'], 'CHN')),
 ('199', (['2', 'A Lamusi', '1', '23', '170', '60'], 'CHN')),
 ('199', (['602', 'Abudoureheman', '1', '22', '182', '75'], 'CHN')),
 ('199', (['1463', 'Ai Linuer', '1', '25', '160', '62'], 'CHN')),
 ('199', (['1464', 'Ai Yanhan', '2', '14', '168', '54'], 'CHN')),
 ('199', (['3605', 'An Weijiang', '1', '22', '178', '72'], 'CHN'))]

In [77]:
#takeSample te permite obtener una muestra aleatoria del RDD, el primer argument es si queremos valores repetidos, 
#cuantos elementos vamos a visualizar, semilla aleatoria
deportistaOlimpicoRDD.map(lambda l : [l[-1], l[:-1]])\
    .join(equiposOlimpicosRDD.map(lambda x : [x[0],x[2]]))\
    .takeSample(False, 6, 26)

[('1012', (['105403', 'Nils Gottfrid Sandstrm', '1', '26', '0', '0'], 'SWE')),
 ('350',
  (['105304', 'Niclas Emanuel Sandells', '1', '28', '185', '72'], 'FIN')),
 ('810',
  (['86083', 'Przemysaw Krzysztof Niemiec', '1', '28', '184', '65'], 'POL')),
 ('96', (['37931', 'tienne Gailly', '1', '25', '0', '0'], 'BEL')),
 ('350', (['65200', 'Keijo Tapio Kurttila', '1', '26', '175', '80'], 'FIN')),
 ('1096',
  (['36785', 'Melissa Jeanette Missy Franklin', '2', '17', '188', '77'],
   'USA'))]

# Medallas, por equipo, por jugador.

In [78]:
resuldatoRDD = sc.textFile(path+"resultados.csv")\
    .map(lambda x : x.split(","))

In [79]:
resuldatoRDD.take(5)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['1', 'NA', '1', '39', '1'],
 ['2', 'NA', '2', '49', '2'],
 ['3', 'NA', '3', '7', '3'],
 ['4', 'Gold', '4', '2', '4']]

In [80]:
resuldatoganadorRDD = resuldatoRDD.filter(lambda x : 'NA' not in x[1])

In [81]:
resuldatoganadorRDD.take(5)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['4', 'Gold', '4', '2', '4'],
 ['38', 'Bronze', '15', '7', '19'],
 ['39', 'Bronze', '15', '7', '20'],
 ['41', 'Bronze', '16', '50', '14']]

In [82]:
resuldatoganadorRDD.map(lambda x : (x[2], x[1])).groupByKey().mapValues(len).take(10)

[('deportista_id', 1),
 ('4', 1),
 ('15', 2),
 ('16', 1),
 ('17', 5),
 ('20', 8),
 ('21', 1),
 ('25', 1),
 ('29', 1),
 ('30', 1)]

In [83]:
deportistaOlimpicoRDD.take(6)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705']]

In [84]:
equiposOlimpicosRDD.take(6)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG'],
 ['5', 'Afghanistan', 'AFG']]

In [85]:
deportistaPaisesRDD = deportistaOlimpicoRDD\
    .map(lambda l : [l[-1], l[:-1]])\
    .join(equiposOlimpicosRDD.map(lambda x : [x[0], x[2]]))

In [86]:
deportistaPaisesRDD.take(6)

[('199', (['1', 'A Dijiang', '1', '24', '180', '80'], 'CHN')),
 ('199', (['2', 'A Lamusi', '1', '23', '170', '60'], 'CHN')),
 ('199', (['602', 'Abudoureheman', '1', '22', '182', '75'], 'CHN')),
 ('199', (['1463', 'Ai Linuer', '1', '25', '160', '62'], 'CHN')),
 ('199', (['1464', 'Ai Yanhan', '2', '14', '168', '54'], 'CHN')),
 ('199', (['3605', 'An Weijiang', '1', '22', '178', '72'], 'CHN'))]

In [87]:
deportistaPaisesRDD.join(resuldatoganadorRDD).take(6)

[('74',
  ((['65', 'Patimat Abakarova', '2', '21', '165', '49'], 'AZE'), 'Gold')),
 ('74', ((['129', 'Ruslan Abbasov', '1', '22', '181', '74'], 'AZE'), 'Gold')),
 ('74', ((['130', 'Tural Abbasov', '1', '18', '182', '76'], 'AZE'), 'Gold')),
 ('74', ((['131', 'Tran Abbasova', '2', '33', '159', '53'], 'AZE'), 'Gold')),
 ('74',
  ((['335', 'Abdulqdir Abdullayev', '1', '28', '188', '91'], 'AZE'), 'Gold')),
 ('74',
  ((['336', 'Arif Yadulla Abdullayev', '1', '27', '164', '60'], 'AZE'),
   'Gold'))]

In [88]:
deportistaPaisesRDD.join(resuldatoganadorRDD.map(lambda x : [x[2], x[1]])).take(6)

[('716',
  ((['553', 'John Charles Abrams', '1', '22', '183', '0'], 'NZL'), 'Gold')),
 ('716',
  ((['698', 'Paul Douglas Ackerley', '1', '27', '179', '68'], 'NZL'), 'Gold')),
 ('716',
  ((['754', 'Craig Robert Adair', '1', '21', '187', '81'], 'NZL'), 'Gold')),
 ('716',
  ((['846', 'Valerie Kasanita AdamsVili Price ', '2', '19', '193', '120'],
    'NZL'),
   'Gold')),
 ('716',
  ((['1511', 'Michael Christopher Aish', '1', '24', '175', '60'], 'NZL'),
   'Gold')),
 ('716',
  ((['2464', 'Jo Qesem Ayela Aleh', '2', '22', '171', '58'], 'NZL'), 'Gold'))]

# Puntuaje que tienen los paises de los juegos olimpicos.

In [89]:
ValoresMedallas = {'Gold': 7,
'Silver': 5,
'Bronze': 4}

In [90]:
paisesMedallas = deportistaPaisesRDD.join(resuldatoganadorRDD)

In [91]:
paisesMedallas.take(6)

[('74',
  ((['65', 'Patimat Abakarova', '2', '21', '165', '49'], 'AZE'), 'Gold')),
 ('74', ((['129', 'Ruslan Abbasov', '1', '22', '181', '74'], 'AZE'), 'Gold')),
 ('74', ((['130', 'Tural Abbasov', '1', '18', '182', '76'], 'AZE'), 'Gold')),
 ('74', ((['131', 'Tran Abbasova', '2', '33', '159', '53'], 'AZE'), 'Gold')),
 ('74',
  ((['335', 'Abdulqdir Abdullayev', '1', '28', '188', '91'], 'AZE'), 'Gold')),
 ('74',
  ((['336', 'Arif Yadulla Abdullayev', '1', '27', '164', '60'], 'AZE'),
   'Gold'))]

In [92]:
#El segundo valor de esta salida puede ser utilizada como la llave del diccionario de ValoresMedallas
paisesMedallas.map(lambda x : [x[1][0][-1], x[1][1]]).take(6)

[['AZE', 'Gold'],
 ['AZE', 'Gold'],
 ['AZE', 'Gold'],
 ['AZE', 'Gold'],
 ['AZE', 'Gold'],
 ['AZE', 'Gold']]

In [93]:
#Accedemos al valor de las llaves para después sumar
paisesMedallas.map(lambda x : [x[1][0][-1], ValoresMedallas[x[1][1]]]).take(6)

[['AZE', 7], ['AZE', 7], ['AZE', 7], ['AZE', 7], ['AZE', 7], ['AZE', 7]]

In [94]:
#Guardamos la query
paisesMedallas =  paisesMedallas.map(lambda x : [x[1][0][-1], ValoresMedallas[x[1][1]]])

In [95]:
#Cambiamos este output a una tupla para poder solucionar este problema con RDD
from operator import add
conclusion = paisesMedallas.reduceByKey((add)).sortBy(lambda x : x[1], ascending=False)

In [96]:
conclusion.take(10)

[('CAN', 32538),
 ('ARG', 12520),
 ('HUN', 10860),
 ('MEX', 6124),
 ('RSA', 3788),
 ('BLR', 3580),
 ('LTU', 1535),
 ('MGL', 1460),
 ('USA', 1342),
 ('AZE', 1218)]

In [97]:
#sc.stop()

# Creamos un dataFrame a partir de RDD

In [103]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

In [98]:
deportistaOlimpicoRDD.take(6)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705']]

In [99]:
def eliminaEncabezado(indice, iterador):
        return iter(list(iterador)[1:])

In [100]:
deportistaOlimpicoRDD = deportistaOlimpicoRDD.mapPartitionsWithIndex(eliminaEncabezado)

In [101]:
deportistaOlimpicoRDD.take(5)

[['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705']]

In [102]:
#Casteamos el tipo de columnas como un schema
deportistaOlimpicoRDD = deportistaOlimpicoRDD.map(lambda x : (
    int(x[0]),
    x[1],
    int(x[2]),
    int(x[3]),
    int(x[4]),
    float(x[5]),
    int(x[6]),
    ))

In [105]:
schema = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", StringType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

In [113]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.types import Row
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

In [117]:
sqlContext.createDataFrame(deportistaOlimpicoRDD, schema).show(5)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|            1|           A Dijiang|     1|  24|   180|80.0|      199|
|            2|            A Lamusi|     1|  23|   170|60.0|      199|
|            3| Gunnar Nielsen Aaby|     1|  24|     0| 0.0|      273|
|            4|Edgar Lindenau Aabye|     1|  34|     0| 0.0|      278|
|            5|Christine Jacoba ...|     2|  21|   185|82.0|      705|
+-------------+--------------------+------+----+------+----+---------+
only showing top 5 rows