In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("/mnt/c/Users/LENOVO/Desktop/Carlos/spark_para_big_data/Platzi_resources/curso-apache-spark-platzi/files/deporte.csv")
data.head()

   deporte_id        deporte
0           1     Basketball
1           2           Judo
2           3       Football
3           4     Tug-Of-War
4           5  Speed Skating